*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    padding: 0;
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  *{
    font-family:'SF Pro Display', sans-serif;
  }
  :root{
    --white: #FFFFFF;
    --black: #000000;
    --Gray-100: #424143;
    --Gray-90: #595A5C;
    --Gray-80: #6E6F72;
    --Gray-70: #6E6F72;
    --Gray-60: #818386;
    --Gray-50: #949698;
    --Gray-40: #A7AAAC;
    --Gray-30: #BCBEC0;
    --Gray-20: #D2D3D4;
    --Gray-10:#E6E8EA;
    --Gray-0: #F3F5F5;
    --Primary: #4A5291;
    --Secondary: #E9545E;
  }
  .wrapper{
    width: 100%;
    min-height: 100vh;
  }
  .header_section{
    display: flex;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top:2px ;
  }
  .header_section ul li {
    list-style: none;
  }
  .header_section ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 6px  ;
    padding: 24px 32px;
  }
  .header_section ul li  {
    padding: 38px 32px 24px 32px
    
  }
  #logoPage{
    width: 201.75px;
    height: 77px;
    padding: 24px 32px 24px 32px;
    display: flex;
    align-items: center;
    text-align: center;

  }
  .navLinks{
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 77px;
  }
  .navList{
    align-items: center;
    text-align: center  ;
  }
 .d-flex{
  margin-top: 14px;
 }
  #slide_section{
    width: 100%;
    background-size: cover;
    position: relative;
    height: 546px;
    padding: 50px 0 60px 0;
  }
.left_banner_side{
  font-size: 20px;
  margin-bottom: 14px;
  color: #fff;
  width: 420px;
  position: absolute;
  top: 180px;
  left: 220px;

}
.left_banner_side h1 {
  font-size: 70px;
  font-weight: bold;
}
#main_section{
  width: 1132px;
  margin: 0px auto ;
  min-height: 100vh;
  margin-top: 90px;
}
.phone_popular{
  margin-top: 90px;
}
.brand_popular_section{
  display: flex;
  flex-direction: row;
  margin-left: -30px;
  flex-wrap: wrap;
}
.popular_brand{
  position: relative;  
  overflow: hidden;
  width: calc(50% - 20px) ;
  margin-top: 20px;
  margin-left: 20px;
  transition: .5s ease;
}
.popular_brand:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.brand_popular_picture{
  border-radius: 10px;
  width: 566px; 
  height: 240px;
}
.brand_name{
  position: absolute;
  bottom: 90px;
  left: 50px;
}
.infor_product_left_side{
  position: relative;
  transition: .5s ease; 
}
.infor_product_left_side:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.popular_product_left_section{
  position: absolute;
  width: 400px;
  left: 50px;
  top: 65px;
}
.popular_product_pic{
  border-radius: 10px;
  width: 97%;
}
.infor_product_right_side_section{
  position: relative;
}
.infor_product_right_side{
  position: absolute;
  width: 170px;
  left: 250px;
  top: 22px;
  font-size: 13px;
}

.popular_product_right_side_pic{
  border-radius: 10px;
  width: 451px;
  height: 180px;
}
.top_infor_product_right_side{
  transition: .5s ease;
}
.top_infor_product_right_side:hover{
  transform: scale(0.94);
  cursor: pointer;
}
.bottom_infor_product_right_side{
  margin-top: 12px;
  position: relative;
  transition: .5s ease;
}
.bottom_infor_product_right_side:hover{
  transform: scale(0.94);
  cursor: pointer;
}
.infor_product_bottom_right_side{
  position: absolute;
  width: 170px;
  left: 250px;
  top: 22px;
  font-size: 13px;
}
.bottom_popular_product_right_side_pic{
  border-radius: 10px;
}

#on_sale_section{
  margin-top: 90px;
}
.on_sale_pic_section{
  display: flex;
  flex-wrap: wrap;
}
.on_sale_pic{
  border-radius: 10px;
  width: 367px;
  height: 244px;
  margin: 4px 5px;
}

#footer_section{
  background-color: #6E6F72;
  width: 100%;
  height: 301px;
  margin-top: 90px;
}
#footer_content{
  width: 1132px;
  margin: 0px auto ;
  margin-top: 50px;
  color: #fff;
  transform: translateY(40px);
  
}
.infor_section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.logo_footer{
  height: 48px;
  width: 226px;
}

.fa-brands{
  font-size: 30px;
  margin-right: 10px;
  color: #FFFFFF  ;
}