*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    padding: 0;
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  *{
    font-family:'SF Pro Display', sans-serif;
  }
  :root{
    --white: #FFFFFF;
    --black: #000000;
    --Gray-100: #424143;
    --Gray-90: #595A5C;
    --Gray-80: #6E6F72;
    --Gray-70: #6E6F72;
    --Gray-60: #818386;
    --Gray-50: #949698;
    --Gray-40: #A7AAAC;
    --Gray-30: #BCBEC0;
    --Gray-20: #D2D3D4;
    --Gray-10:#E6E8EA;
    --Gray-0: #F3F5F5;
    --Primary: #4A5291;
    --Secondary: #E9545E;
  }


  .wrapper{
    width: 100%;
    min-height: 100vh;
  }
  .header_section{
    display: flex;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top:2px ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .header_section ul li {
    list-style: none;
  }
  .header_section ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 6px  ;
    /* padding: 24px 32px; */
  }
  .header_section ul li  {
    padding: 38px 32px 24px 32px
    
  }
  #logoPage{
    width: 201.75px;
    height: 77px;
    padding: 24px 32px 24px 32px;
    display: flex;
    align-items: center;
    text-align: center;

  }
  .navLinks{
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 57px;
  }

  .header_section ul li .navLinks::after{
    content: "";
    width: 0;
    height: 4px;
    margin: auto;
    background-color: var(--Secondary);
    display: block;
  }
  .header_section ul li .navLinks:hover::after{
    width: 100%;
    transition: width .2s linear;
  }

 .d-flex{
  margin-top: 14px;
 }


 .banner_website{
  width: 100%;
  background-size: cover;
  position: relative;
  height: 400px;
  padding: 50px 0 60px 0;
  position: relative; 
}
.title_page{
  font-size : 84px;
  line-height: 100px;
  font-weight: bold;
  color: var(--white);
  position: absolute;
  top: 135px;
  left: 155px;
}


#content{
  width: 1224px;
  margin: 0px auto ;
  min-height: 100vh;
  margin-top: 90px;
}
#main_section{
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}
.side_bar{
  background-color: #e9ecef;
  width: 309px;
  height: 1169px;
  border-radius: 8px;
  color: #424143;
}
.select_section{
  margin-left: 33px;
  margin-top: 26px;
}
.selection {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.selection input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 22px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #424143;
}

/* On mouse-over, add a grey background color */
.selection:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.selection input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.selection input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.selection .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border:1px solid #424143;
  border-radius: 6px;

  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#view_more{
  color: #818386;
  text-decoration: none;
}
#view_more:hover{
  text-decoration: underline;
  color: #A7AAAC;
}
#price_site_bar{
  margin-top: 22px;
}
#demand_site_bar{
  margin-top: 22px;
}
#storage_site_bar{
  margin-top: 22px;
}

.cards{
  width: 262px;
  height: 302px;
  padding: 0 10px 16px 16px;
  margin: 0px 15px 22px 15px;
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
  border-radius: 8px;
  cursor: pointer;
  transition: .5s ease;

}
.cards:hover{
  transform: scale(1.05);

}

#card_products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.name_card{
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.product_description{
  font-size: 10px;
  font-weight: 300;
  line-height: 11.93px;
}
.order_product{
  font-size: 10px;
  font-weight: 300;
  line-height: 11.93px;
  text-decoration: none;
  color: #4A5291;
  padding-right: 10px; ;
}
.order_product:hover{
  text-decoration: underline;
}
.view_more_card{
  padding: 8px;
  gap: 10px ;
  border-radius: 4px;
  color: #FFFFFF;
  background-color:#E9545E;
  transition:  0.8s ease-in;
  border: none;
  outline: none;
  font-size: 10px;
  font-weight: 300;
  line-height: 11.93px;
}
.view_more_card:hover{
  background-color: var(--white);
  color:#E9545E;
}
.bottom_card{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

#footer_section{
  background-color: #6E6F72;
  width: 100%;
  height: 301px;
  margin-top: 90px;
}
#footer_content{
  width: 1132px;
  margin: 0px auto ;
  margin-top: 50px;
  color: #fff;
  transform: translateY(40px);
  
}
.infor_section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.logo_footer{
  height: 48px;
  width: 226px;
}

.fa-brands{
  font-size: 30px;
  margin-right: 10px;
  color: #FFFFFF  ;
}
.fa-brands:hover{
  color: #A7AAAC;
}

#btn_back_top{
  width: 50px;
  height: 50px;
  background-color: #4A5291;
  color: #FFFFFF;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 20px;
  transition: all .5s;
  cursor: pointer;
}
#btn_back_top:hover{
  background-color: #6773cb;
}